* {
  border: 2px solid black;
}

body {
  height: 100vh;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.left-content {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 40vw;
  /* background-color: wheat; */
  background-image: url(/assets/leaves.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.right-content {
  display: inline-flex;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
}

.input-block {
  height: 30px;
  width: 50%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.row-container {
  display: flex;
  flex-direction: row;
  /* border: 100px; */
}
